body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(249, 249, 249);
    width: 100%;
    margin: 0px;
}

.header .content {
    width: 1000px;
    margin: auto;
    color: rgb(20,20,20);
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a, a:link, a:visited, a:hover, a:active {
    color: rgb(37, 139, 245);
    font-family: Helvetica;
}

a.ablack, a.ablack:link, a.ablack:visited, a.ablack:hover, a.ablack:active {
    color: rgb(20,20,20);
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.header .left {
    width: 300px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;    
    color: rgb(20,20,20);
    height: 30px;
    line-height: 30px;
}

.header .right {
    width: 700px;
    text-align: right;
}

.footer {
    width: 1000px;
    margin: auto;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;    
    color: rgb(90,94,98);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

a, a:link, a:visited, a:hover, a:active {
    color: rgb(37, 139, 245);
    font-family: Helvetica;
}

.page {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.page {
    color: rgb(42, 42, 42);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 22px;
}

h1 {
    -webkit-font-smoothing: antialiased;
    color: rgb(69, 71, 71);
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 33px;
    vertical-align: baseline;
}

h2 {
    -webkit-font-smoothing: antialiased;
    color: rgb(49, 51, 51);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    vertical-align: baseline;
    margin-left: 150px;
    margin-top: 30px;
}

.page .content p {
    width: 800px;
    margin-left: 200px;   
}

.page .content li {
    width: 800px;
    margin-left: 200px;   
}

.page .content pre {
    margin-left: 200px;   
    margin-top: 20px;
    margin-bottom: 20px;
}

.page .menu {
    text-align: right;
    font-size: 14px;
}